@page "/export_summaries"
@using Northwind
@using Models.Northwind
@inject INorthwindService northwindService

<div class="row-layout export-summaries-container">
    <IgbGrid Data="northwindEmployees" PrimaryKey="EmployeeID" DisplayDensity="DisplayDensity.Cosy" AllowFiltering="true" FilterMode="FilterMode.ExcelStyleFilter" AutoGenerate="false" Height="790px" class="ig-typography grid" export_summaries-scope>
        <IgbGridToolbar>
            <IgbGridToolbarActions>
                <IgbGridToolbarExporter></IgbGridToolbarExporter>
            </IgbGridToolbarActions>
            <IgbGridToolbarTitle>Excel Export with Summaries</IgbGridToolbarTitle>
        </IgbGridToolbar>
        <IgbColumn Field="EmployeeID" DataType="GridColumnDataType.Number" Header="employeeID" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="LastName" DataType="GridColumnDataType.String" Header="lastName" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="FirstName" DataType="GridColumnDataType.String" Header="firstName" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="Title" DataType="GridColumnDataType.String" Header="title" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="TitleOfCourtesy" DataType="GridColumnDataType.String" Header="titleOfCourtesy" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="BirthDate" DataType="GridColumnDataType.Date" Header="birthDate" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="HireDate" DataType="GridColumnDataType.Date" Header="hireDate" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="Address.Street" DataType="GridColumnDataType.String" Header="address street" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="Address.City" DataType="GridColumnDataType.String" Header="address city" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="Address.Region" DataType="GridColumnDataType.String" Header="address region" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="Address.PostalCode" DataType="GridColumnDataType.String" Header="address postalCode" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="Address.Country" DataType="GridColumnDataType.String" Header="address country" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="Address.Phone" DataType="GridColumnDataType.String" Header="address phone" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="ManagerID" DataType="GridColumnDataType.Number" Header="managerID" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="Notes" DataType="GridColumnDataType.String" Header="notes" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
        <IgbColumn Field="AvatarUrl" DataType="GridColumnDataType.String" Header="avatarUrl" Sortable="true" HasSummary="true" Selectable="false"></IgbColumn>
    </IgbGrid>
</div>

@code {
    private List<EmployeesType> northwindEmployees = new();

    protected override async Task OnInitializedAsync()
    {
        northwindEmployees = await northwindService.GetEmployees();

        await base.OnInitializedAsync();
    }
}
